<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NThread多线程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD01E1A20799ADE00F00729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD01E3320799ADF00F00729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD01E3E20799ADF00F00729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
