<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVFoundation拍照和录制视频.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F038BE620C5000F0089F4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F038BFF20C5000F0089F4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F038C0A20C5000F0089F4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
