<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS 10 本地通知.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FAD0E4420D0BB4A00AAF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FAD0E5D20D0BB4A00AAF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FAD0E6820D0BB4A00AAF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
