<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPMoviePlayerViewController播放视频.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD3294E20BE3D0200F1E126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD3296720BE3D0300F1E126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD3297220BE3D0300F1E126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
